go 1.18

use (
	./ebpf-acl
	./ebpf-binary_search
	./ebpf-bpf2bpf
	./ebpf-bpftailcall
	./ebpf-fentry_fexit
	./ebpf-freplace
	./ebpf-globalvar
	./ebpf-inject
	./metadata_xdp2afxdp
	./nfnetlink
	./nfqueue
	./nsenter
	./xdpmetadata
	./xdpping
)
