go 1.18

use (
	./ebpf/acl
	./ebpf/bpf2bpf
	./ebpf/bsearch
	./ebpf/fentry_fexit
	./ebpf/fentry_fexit-bpf2bpf
	./ebpf/fentry_fexit-freplace
	./ebpf/fentry_fexit-freplace-xdp
	./ebpf/fentry_fexit-kprobe
	./ebpf/fentry_fexit-tailcall
	./ebpf/fentry_fexit-tc
	./ebpf/fentry_fexit-tracepoint
	./ebpf/fentry_fexit-xdp
	./ebpf/freplace
	./ebpf/global-variable
	./ebpf/inject
	./ebpf/iter
	./ebpf/metadata_xdp2afxdp
	./ebpf/tailcall
	./ebpf/tailcall-shared
	./ebpf/timer
	./ebpf/tracepoint
	./ebpf/xdpmetadata
	./ebpf/xdpping
	./internal
	./nfnetlink
	./nfqueue
	./nsenter
)
