go 1.22.4

use (
	./ebpf/acl
	./ebpf/bpf2bpf
	./ebpf/bpffs
	./ebpf/bpflbr
	./ebpf/bpfprogfuncs
	./ebpf/bsearch
	./ebpf/fentry-bpf2bpf
	./ebpf/fentry-leak
	./ebpf/fentry_fexit
	./ebpf/fentry_fexit-bpf2bpf
	./ebpf/fentry_fexit-freplace
	./ebpf/fentry_fexit-freplace-xdp
	./ebpf/fentry_fexit-kprobe
	./ebpf/fentry_fexit-sockops
	./ebpf/fentry_fexit-tailcall
	./ebpf/fentry_fexit-tailcall_in_bpf2bpf
	./ebpf/fentry_fexit-tc
	./ebpf/fentry_fexit-tracepoint
	./ebpf/fentry_fexit-xdp
	./ebpf/fexit_ipv4_sysctl
	./ebpf/fexit_rpsxps
	./ebpf/freplace
	./ebpf/global-variable
	./ebpf/inject
	./ebpf/iter
	./ebpf/kfunc_ffs
	./ebpf/metadata_xdp2afxdp
	./ebpf/percpu_data
	./ebpf/spinlock
	./ebpf/tailcall
	./ebpf/tailcall-in-bpf2bpf
	./ebpf/tailcall-in-freplace
	./ebpf/tailcall-in-freplace1
	./ebpf/tailcall-shared
	./ebpf/tailcall-stackoverflow
	./ebpf/tcpoptions
	./ebpf/tcx
	./ebpf/timer
	./ebpf/toa
	./ebpf/tracepoint
	./ebpf/xdp-cpumap
	./ebpf/xdp-crc
	./ebpf/xdp-tailcall
	./ebpf/xdp-traceroute
	./ebpf/xdpmetadata
	./ebpf/xdpping
	./internal
	./nfnetlink
	./nfqueue
	./nsenter
)
